@media (min-width: 1280px) {
    .button--promo,
    .button--partners {
        width: 24.04%;
    }
    /* .button--partner1 {
        background: url(../../image/css_sprites.png) var(--partner1) -49px -6px;
    }
    .button--partner2 {
        background: url(../../image/css_sprites.png) var(--partner2) -6px -47px;
    }
    .button--partner3 {
        background: url(../../image/css_sprites.png)var(--partner3)-6px -6px;
    }
    .button--partner4 {
        background: url(../../image/css_sprites.png)var(--partner4)-47px -47px;
    } */
}