 @media (min-width: 1280px) {
     wrapper.promo {
         background-image: url('../../image/bcg-desktop.jpg');
         padding-bottom: 23.4rem;
     }
     .contaner {
         width: 65.28%;
     }
     .title-promo {
         width: 61%;
     }
     article {
         flex-basis: 23.4%;
     }
     article:nth-child(-n+2) {
         margin-right: 0;
     }
     .block-button--partner {
         padding-bottom: 7rem;
     }
 }