    // $orange: #ff6c00;
    .header {
        display: flex;
        justify-content: space-between;
    }
    
    .menu__nav {
        display: flex;
        align-items: center;
        &-logo__img {
            display: block;
            width: 100%;
            height: auto;
        }
        &-link {
            display: block;
            color: $orange;
            font-size: 2.4rem;
            font-family: "UbuntuMedium";
            padding-left: 3rem;
        } // margin: 20px 5%;
        // // height: 40px;
        // // color: $orange;
        // // flex-direction: row;
        // // justify-content: space-between;
        // a {
        //     font-family: "UbuntuMedium"; // text-decoration: none;
        //     color: $orange;
        //     padding-left: 30px;
        // }
        // &__nav {
        //     display: flex;
        //     flex-direction: row;
        //     justify-content: space-between;
        //     align-items: center;
        //     a {
        //         font-size: 150%;
        //     }
        // }
    }
    
    @media only screen and (min-width: 320px) {
        .menu__nav-link,
        .profil__link {
            display: none;
        }
    }
    
    @media only screen and (min-width: 768px) {
        .menu__nav-link,
        .profil__link {
            display: flex;
        }
    }