    header {
        padding-top: 2rem;
    }
    
    .block-button--header {
        padding-bottom: 11.5rem;
    }
    
    a {
        display: inline-block;
        color: var(--text);
    }
    
    .block-logo {
        text-align: center;
    }