@media (min-width: 600px) {
    wrapper.promo {
        background-image: url('../../image/bcg-tablet.jpg');
        /* background-repeat: no-repeat;
            background-size: cover; */
        /* min-height: 700px; */
        padding-bottom: 23.4rem;
    }
    .title-promo {
        font-size: 5.2rem;
        width: 81%;
    }
    .title {
        margin: auto;
    }
    .text {
        font-size: 2.4rem;
        padding: 2.6rem 4.8rem 3rem 4.8rem;
    }
    .button--promo,
    .button--partners {
        width: 29.17%;
    }
    .block-partners {
        /* width: 75%; */
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-content: center;
    }
    article {
        min-width: 25.5rem;
    }
}


/* wrapper.promo {
        background-image: url('../../image/bcg-mobile.png');
        background-repeat: no-repeat;
        background-size: cover;
        min-height: 540px;
    } */


/* wrapper.partners {
        background-color: var(--bcg);
        padding-top: 6.8rem;
        /* background-repeat: no-repeat; */


/* background-size: cover; */


/* min-height: 540px; */

*/
/* .title-promo {
        text-transform: uppercase;
        margin-top: 3rem;
        /* font-size: 3rem; */


/* font-weight: bold; */


/* color: var(--text); */


/* margin-bottom: 1rem; */


/* text-align: center; */


}
*/
/* .block-button--partner {
        padding-bottom: 5.7rem;
    } */

/* .title-partner-block {
        color: var(--title);
        padding: 0 3rem 1.5rem 3rem;
        /* font-size: 2.2rem; */

/* text-align: center; */

}
*/
/* .title-partner {
        color: var(--title);
        margin-top: 1.95rem;
        margin-bottom: 1.56rem;
        /* font-size: 1.4rem; */

/* text-align: center; */

}
*/
/* .text,
    .title-promo {
        color: var(--text);
    } */

/* .text {
        padding: 1rem 4.8rem 1.7rem 4.8rem;
    } */

/* .title,
    p,
    article {
        text-align: center;
    } */

/* .text-partner {
        padding: 0 6rem 3rem 6rem;
    } */

/* .partner {
        display: block;
        width: 100%;
        height: auto;
    } */

/* .partner-img {
        display: block;
        width: 40%;
        height: auto;
        position: relative;
        margin: auto;
        padding: 0.4rem;
        /* border: 4px solid var(--bcg); */

}
*/