:root {
    --primary-light-color: #ffffff;
    --primary-dark-color: #052750;
    --secondary-dark-color: #30455b;
    --blue: #1789fc;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Pathway Gothic One', sans-serif;
    font-size: 12px;
    line-height: 1.5;
    text-decoration: none;
}

body {
    background-image: url('../image/bg-body.png');
    background-repeat: no-repeat;
    background-size: cover;
    /* padding-bottom: 200px; */
}

wrapper {
    display: block;
    width: 1024px;
    margin: auto;
}

header {
    width: 100%;
    height: 236px;
    /* position: relative; */
}


/*----------nav---------*/

nav {
    width: 100%;
    height: 100%;
}


/* menu */

ul {
    list-style: none;
    list-style-type: none;
}


/* .menu {
    position: absolute;
    left: 7%;
    top: 50%;
    transform: translateY(-50%);
} */

.menu {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: space-evenly;
    align-items: center;
    /* position: absolute;
    left: 7%;
    top: 50%;
    transform: translateY(-50%); */
}

.menu-item {
    /* display: flex; */
    /* display: inline-block; */
    /* width: 120px; */
    text-transform: uppercase;
    text-align: center;
    vertical-align: middle;
    position: relative;
}

.menu-link {
    font-size: 28px;
    font-weight: 400;
    text-transform: uppercase;
    color: var(--primary-light-color);
}

.menu-item:hover>a {
    color: var(--primary-dark-color);
}


/* logo */

.center {
    display: flex;
    width: 140px;
    height: 140px;
    background-color: var(--primary-light-color);
    border-radius: 50%;
}

.logo {
    font-family: 'Dorsa', sans-serif;
    font-size: 60px;
    font-weight: 300;
    color: var(--primary-dark-color);
    text-transform: uppercase;
    margin: auto;
}


/* submenu */

.submenu {
    display: none;
}

.submenu-link {
    font-size: 20px;
    line-height: 26px;
    font-weight: 400;
    color: var(--primary-dark-color);
}

.submenu-item:hover>a {
    display: inline-block;
    width: 100%;
    background-color: var( --secondary-dark-color);
    color: var(--primary-light-color);
}

.menu-item:hover>.submenu {
    display: block;
    width: 66px;
    height: 88px;
    padding-top: 8px;
    background: url(../image/css_sprites.png) -243px -1376px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

main {
    width: 1024px;
    padding: 30px 60px 0 60px;
    background-color: var(--primary-light-color);
    position: relative;
}

.content-home {
    display: block;
    width: 100%;
    height: 900px;
}


/*-------page about-------*/

.section {
    display: flex;
    justify-content: space-between
}

article {
    position: relative;
}

.profile-img {
    display: block;
    width: 360px;
    height: 281px;
    float: left;
    margin-right: 28px;
    margin-bottom: 10px;
}

.profile,
.offer {
    flex-basis: 648px;
}

.principles,
.testimonial {
    flex-basis: 206px;
}

.section:first-child {
    padding-top: 30px;
    padding-bottom: 56px;
    border-bottom: 1px solid rgb(150, 140, 140);
}

.article-title {
    display: block;
    color: var(--primary-dark-color);
    text-transform: uppercase;
    font-size: 32px;
    padding-top: 60px;
    margin-bottom: 50px;
}

.article-title-img {
    margin-bottom: 12px;
    color: var(--primary-dark-color);
    font-family: 'Arial', sans-serif;
    font-size: 15px;
    line-height: 19px;
    font-weight: 700;
}

.article-text {
    font-family: 'Arial', sans-serif;
    font-size: 13px;
    line-height: 19px;
    padding-bottom: 26px;
}


/*--------principles column---------*/

.number-text {
    padding-bottom: 0;
}

.list-counter {
    counter-reset: list-counter;
    display: block;
}

.number-item {
    display: flex;
    margin-bottom: 36px;
}

.article-number {
    width: 166px;
}

.number-item::before {
    width: 30px;
    height: 30px;
    margin-right: 10px;
    background-color: var(--blue);
    line-height: 30px;
    counter-increment: list-counter;
    content: counter(list-counter);
    border-radius: 50%;
    color: var(--primary-light-color);
    text-align: center;
}

.offer {
    margin-bottom: 66px;
}

.last {
    padding-top: 10px;
}

.list-column {
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
    width: 100%;
    height: 212px;
}

.forward {
    display: flex;
    height: 42px;
    width: 268px;
    font-family: 'Arial', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: var(--primary-dark-color);
}

.forward:nth-child(5n+5),
.forward:last-child,
.number-item:last-child,
.testimonial-title {
    margin-bottom: 0;
}

.forward::before {
    height: 32.8px;
    width: 16px;
    vertical-align: center;
    content: '\2192';
    margin-right: 6px;
    color: var(--blue);
}

.figure-box {
    position: relative;
}

figure {
    display: block;
    background: url(../image/css_sprites.png) -10px -1376px;
    width: 216px;
    height: 224px;
    position: absolute;
    top: 16px;
    left: 0;
    margin-right: 0;
    margin-bottom: 0px;
}

.quotation {
    display: block;
    width: 214px;
    text-align: justify;
    font-family: 'Arial', sans-serif;
    font-size: 15px;
    line-height: 19px;
    color: rgb(6, 45, 117);
    font-weight: 700;
    padding: 24px;
    position: absolute;
    left: 0;
    top: 18px;
}

.quotation::before {
    content: '\201C';
    margin-right: 6px;
}

.quotation::after {
    content: '\201D';
    margin-left: 6px;
}

figcaption {
    display: block;
    width: 150px;
    font-family: 'Arial', sans-serif;
    font-size: 18px;
    border: 20px;
    color: var(--primary-dark-color);
    font-weight: 700;
    text-align: center;
    padding-bottom: 0;
    position: absolute;
    left: 50%;
    top: 320px;
    transform: translateX(-50%)
}

span {
    display: inline-block;
    font-family: 'Arial', sans-serif;
    font-size: 13px;
    text-align: center;
    line-height: 20px;
    font-weight: 400;
    text-align: center;
    padding-bottom: 0;
}


/*------ page gallery------ */

.gallery {
    display: flex;
    width: 100%;
    min-height: 684px;
    flex-flow: row wrap;
    justify-content: space-between;
    align-content: space-between;
    padding-bottom: 140px;
}

.gallery-box {
    display: block;
    position: relative;
}


/* .gallery-box::before {
    position: absolute;
    display: block;
    width: 288px;
    height: 155px;
    content: ' ';
    background-color: rgba(00, 00, 00, 0);
} */

.gallery-box:hover::before {
    background-color: rgba(00, 00, 00, 0.6);
    position: absolute;
    display: flex;
    width: 288px;
    height: 155px;
    margin: auto;
    /* content: ' '; */
    content: url(../image/zoom.png);
    /* background-image: url(../image/css_sprites.png) -10px -10px; */
}


/*---------footer----------*/


/* button to-top */

.to-top {
    display: block;
    position: fixed;
    bottom: 10%;
    right: 20%;
}

.button-to-top {
    display: flex;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: var(--blue);
    justify-content: center;
    align-items: center;
    position: relative;
}

.button-to-top:hover {
    background-color: var(--secondary-dark-color);
}

.bg-Homework_6_return {
    display: block;
    position: absolute;
    width: 13px;
    height: 8px;
    background: url(../image/css_sprites.png) -645px -1376px;
    /* background: url(../image/css_sprites.png) -10px -10px; */
}

.footer-box {
    display: flex;
    width: 1024px;
    height: 134px;
    align-content: center;
    background-color: var(--secondary-dark-color);
}

.footer-list {
    display: flex;
    width: 792px;
    height: 44px;
    flex-flow: column wrap;
    justify-content: center;
    margin: auto;
}

.footer-item {
    width: 192px;
    height: 22px;
}

.footer-link {
    font-family: '  ', sans-serif;
    font-size: 16px;
    line-height: 1;
    font-weight: 300;
    text-transform: uppercase;
    color: var(--primary-light-color);
    text-align: center;
}

.contact {
    font-size: 18px;
}

.tel {
    font-family: 'Arial', sans-serif;
    font-size: 12px;
}


/* footer-icons */

.footer-icons {
    display: flex;
}

.icons {
    display: flex;
    width: 200px;
    height: 65px;
    justify-content: space-between;
    align-items: flex-end;
    margin: auto;
}

.icon {
    width: 41px;
    height: 40px;
}

.facebook {
    background: url(../image/css_sprites.png) -329px -1376px;
}

.googleplus {
    background: url(../image/css_sprites.png) -390px -1376px;
}

.instagram {
    background: url(../image/css_sprites.png) -451px -1376px;
}

.twitter {
    background: url(../image/css_sprites.png) -512px -1376px;
}

.footer-text {
    display: block;
    width: 400px;
    height: 26px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: var(--primary-light-color);
    margin: auto;
    margin-top: 16px;
}