:root {
    --primary-dark-color: #052750;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Pathway Gothic One', sans-serif;
    font-size: 12px;
    line-height: 1.5;
    text-decoration: none;
}

body {
    background: url('../image/bg-body.png') no-repeat center center local;
    padding-bottom: 200px;
}

wrapper {
    display: block;
    width: 1024px;
    margin: auto;
}

header {
    width: 100%;
    height: 236px;
    position: relative;
}


/* menu */

ul {
    list-style: none;
}

.menu {
    position: absolute;
    left: 7%;
    top: 50%;
    transform: translateY(-50%);
}

.menu-item {
    display: inline-block;
    width: 120px;
    text-transform: uppercase;
    text-align: center;
    vertical-align: middle;
    position: relative;
}

.menu-link {
    font-size: 28px;
    font-weight: 400;
    color: rgb(255, 255, 255);
}

.menu-item:hover>a {
    color: rgb(0, 0, 0);
}


/* logo */

.center {
    display: inline-block;
    width: 140px;
    height: 140px;
    background-color: #fff;
    border-radius: 50%;
    position: relative;
}

.logo {
    display: inline-block;
    font-family: 'Dorsa', sans-serif;
    font-size: 60px;
    font-weight: 300;
    color: var(--primary-dark-color);
    text-transform: uppercase;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


/* submenu */

.submenu {
    display: none;
}

.submenu-link {
    font-size: 20px;
    line-height: 26px;
    font-weight: 400;
    color: #000000;
}

.submenu-item:hover>a {
    display: inline-block;
    width: 100%;
    background-color: #1d1b1b;
    color: #fff;
}

.menu-item:hover>.submenu {
    display: block;
    width: 66px;
    height: 88px;
    padding-top: 8px;
    background: url(../image/css_sprites.png) -243px -10px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

main {
    width: 1024px;
    padding: 60px 60px 0 60px;
    background-color: rgb(255, 255, 255);
    position: relative;
}


/*-------page about-------*/

section {
    display: flex;
    justify-content: space-between
}

article {
    position: relative;
}

.profile-img {
    display: block;
    width: 360px;
    height: 281px;
    float: left;
    margin-right: 28px;
    margin-bottom: 10px;
    /* position: absolute */
}

.profile,
.offer {
    /* display: inline-block; */
    flex-basis: 648px;
    /* vertical-align: top; */
}

.testimonial,
.principles {
    display: inline-block;
    flex-basis: 206px;
    vertical-align: top;
}

ul {
    list-style-type: none;
}

.section:first-child {
    /* padding-top: 60px; */
    padding-bottom: 56px;
    border-bottom: 1px solid rgb(150, 140, 140);
}

.article-title {
    color: var(--primary-dark-color);
    text-transform: uppercase;
    font-size: 32px;
    width: 300;
    padding-top: 60px;
    margin-bottom: 50px;
}

.article-title-img {
    margin-bottom: 12px;
    color: var(--primary-dark-color);
    font-family: 'Arial', sans-serif;
    font-size: 15px;
    line-height: 19px;
    font-weight: 700;
}

.article-text {
    font-family: 'Arial', sans-serif;
    font-size: 13px;
    line-height: 19px;
    text-align: justify;
    padding-bottom: 16px;
}

.number-text {
    padding-left: 40px;
    padding-bottom: 0;
}

.list-counter {
    counter-reset: list-counter;
    flex-flow: column;
}

.number-item {
    display: flex;
    margin-bottom: 36px;
}


/* .number-item::before {
    display: inline-block;
    float: left;
    width: 30px;
    height: 30px;
    margin-right: 10px;
    background-color: #1789fc;
    line-height: 30px;
    counter-increment: list-counter;
    content: counter(list-counter);
    border-radius: 50%;
    color: #fefefe;
    text-align: center;
} */

.number-item::before {
    display: flex;
    /* display: inline-block; */
    /* float: left; */
    width: 30px;
    height: 30px;
    margin-right: 10px;
    background-color: #1789fc;
    line-height: 30px;
    counter-increment: list-counter;
    content: counter(list-counter);
    border-radius: 50%;
    color: #fefefe;
    text-align: center;
}


/* .clearfix::after {
    display: block;
    content: '';
    clear: both;
} */

.offer {
    margin-bottom: 66px;
}

.last {
    padding-top: 10px;
}

.list-column {
    width: 100%;
    padding-top: 8px;
    padding-bottom: 16px;
    column-count: 2;
}

.forward {
    display: inline-block;
    height: 32.8px;
    width: 100%;
    font-family: 'Arial', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: rgb(6, 45, 117);
    margin-bottom: 6px;
}

.forward:nth-child(5n+5),
.forward:last-child,
.number-item:last-child,
.testimonial-title {
    margin-bottom: 0;
}

.forward::before {
    display: inline-block;
    height: 32.8px;
    width: 16px;
    vertical-align: center;
    content: '\2192';
    margin-right: 6px;
    color: rgb(12, 8, 255);
}

.figure-box {
    position: relative;
}

figure {
    display: block;
    background: url(../image/css_sprites.png) -10px -10px;
    width: 216px;
    height: 224px;
    position: absolute;
    top: 16px;
    left: 0;
    margin-right: 0;
    margin-bottom: 0px;
}

.quotation {
    display: block;
    width: 214px;
    text-align: justify;
    font-family: 'Arial', sans-serif;
    font-size: 15px;
    line-height: 19px;
    color: rgb(6, 45, 117);
    font-weight: 700;
    padding: 24px;
    position: absolute;
    left: 0;
    top: 18px;
}

.quotation::before {
    content: '\201C';
    margin-right: 6px;
}

.quotation::after {
    content: '\201D';
    margin-left: 6px;
}

figcaption {
    display: block;
    width: 150px;
    font-family: 'Arial', sans-serif;
    font-size: 18px;
    border: 20px;
    color: var(--primary-dark-color);
    font-weight: 700;
    text-align: center;
    padding-bottom: 0;
    position: absolute;
    left: 50%;
    top: 320px;
    transform: translateX(-50%)
}

span {
    display: inline-block;
    font-family: 'Arial', sans-serif;
    font-size: 13px;
    text-align: center;
    line-height: 20px;
    font-weight: 400;
    text-align: center;
    padding-bottom: 0;
}


/*------ page gallery------ */

.gallery {
    display: flex;
    width: 904px;
    height: 542px;
    flex-flow: row wrap;
    /* flex-direction: row;
    flex-wrap: wrap; */
    justify-content: space-between;
    align-content: space-between;
}

.gallery-box {
    display: block;
    position: relative;
}

.gallery-box::before {
    position: absolute;
    display: block;
    width: 100%;
    /* width: 288px; */
    height: 100%;
    /* height: 155px; */
    content: ' ';
    background-color: rgba(00, 00, 00, 0);
}

.gallery-box:hover::before {
    background-color: rgba(00, 00, 00, 0.5);
    /* opacity: 0.7; */
}


/* button to-top */

.to-top {
    display: block;
    position: fixed;
    bottom: 10%;
    right: 20%;
}

.button-to-top {
    /* display: block; */
    display: flex;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #0c87fa;
    justify-content: center;
    align-items: center;
    position: relative;
}

.button-to-top:hover {
    background-color: #30455b;
}


/* .to-top-img {
display: flex;
justify-content: center;
align-content: center;
position: absolute; 
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
} */

.bg-Homework_6_return {
    display: block;
    /* display: flex; */
    /* margin: auto; */
    position: absolute;
    /* top: 50%; */
    /* left: 50%; */
    /* transform: translate(-50%, -50%); */
    width: 13px;
    height: 8px;
    background: url(../image/css_sprites.png) -204px -252px;
}


/*---------footer----------*/


/* footer {
    display: flex;
} */

.footer-box {
    display: flex;
    width: 1024px;
    height: 134px;
    align-content: center;
    background-color: #30455b;
}

.footer-list {
    display: flex;
    width: 792px;
    height: 44px;
    flex-flow: column wrap;
    /* flex-direction: row;
    flex-wrap: wrap; */
    justify-content: center;
    /* align-items: flex-end;
    align-content: center; */
    margin: auto;
}

.footer-item {
    width: 192px;
    height: 22px;
}

.footer-link {
    font-family: '  ', sans-serif;
    font-size: 16px;
    line-height: 1;
    font-weight: 300;
    text-transform: uppercase;
    color: rgb(255, 255, 255);
    text-align: center;
}

.contact {
    font-size: 18px;
}

.tel {
    font-family: 'Arial', sans-serif;
    font-size: 12px;
}


/* footer-icons */

.footer-icons {
    display: flex;
}

.icons {
    display: flex;
    width: 200px;
    height: 65px;
    justify-content: space-between;
    align-items: flex-end;
    margin: auto;
}

.icon {
    display: block;
    width: 41px;
    height: 40px;
}

.twiter {
    width: 41px;
    height: 40px;
    background: url(../image/css_sprites.png) -71px -252px;
}

.facebook {
    width: 41px;
    height: 40px;
    background: url(../image/css_sprites.png) -243px -118px;
}

.googleplus {
    width: 41px;
    height: 40px;
    background: url(../image/css_sprites.png) -243px -178px;
}

.instagram {
    width: 41px;
    height: 40px;
    background: url(../image/css_sprites.png) -10px -252px;
}

.footer-text {
    display: block;
    width: 400px;
    height: 26px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: rgb(255, 255, 255);
    margin: auto;
    /* margin-right: auto; */
    margin-top: 16px;
}