.content {
    padding-top: 20px;
}

.article {
    width: 480px;
    padding: 36px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 36px;
    border-radius: 4px;
    box-shadow: 0 0 3px 3px rgba(0, 0, 0, 0.1);
}

.article-title {
    margin-top: 26px;
    text-align: left;
    color: rgb(6, 45, 117);
    font-size: 30px;
    font-weight: 600;
    font-family: oblique;
}

.article-title:first-child {
    margin-top: 0;
}

.article-title-img {
    margin-top: 12px;
    margin-bottom: 16px;
    color: rgb(6, 45, 117);
    font-size: 18px;
}

img {
    width: 100%;
    margin-top: 26px;
    margin-bottom: 26px;
}


/* task three */


/* ul {
    list-style-type: none;
    list-style-image: url(https://image.flaticon.com/icons/svg/128/128421.svg);
    outline: 1px solid rgb(213, 228, 7);
    width: 240px;
    padding: 24px;
    margin-right: auto;
    margin-left: auto;
    /* margin-bottom: 36px; */
    border-radius: 4px;
    box-shadow: 0 0 3px 3px rgba(0, 0, 0, 0.1)
}

/* li {
                                 display: block;
                             } */

.list-item {
    /* display: block; */
    /* list-style: none; */
    border: 1px solid rgb(18, 236, 29)
}

li {
    background: url("forward32.png") 0 50% no-repeat;
    list-style-type: none;
    padding-left: 34px;
    display: block;
    height: 32px;
    width: 32px;
    text-align: middle;
    background-color: transparent;
    background-image: url(image/forward32.png);
    background-repeat: no-repeat;
    background-position: left center;
}


/* li:before {
    background: url("forward32.png") 0 50% no-repeat;
    list-style-type: none;
    padding-left: 34px;
    display: block;
    height: 32px;
    width: 32px;
    text-align: middle;
    background-color: transparent;
    background-image: url(image/forward32.png);
    background-repeat: no-repeat;
    background-position: left center;
} */