                             .content {
                                 padding-top: 20px;
                             }
                             
                             h1 {
                                 margin-bottom: 30px;
                                 /* font: inherit; */
                                 font-size: 60px;
                                 text-shadow: 0.125rem 0.125rem 0.125rem hsla(0, 0%, 59%, .3)
                                 /* font-family: oblique; */
                             }
                             /* h3 {
                 font-size: 30px;
             }
              */
                             
                             .task-title {
                                 display: inline-block;
                                 width: 130px;
                                 height: 34px;
                                 padding: 2px;
                                 color: #fff;
                                 text-align: center;
                                 /* vertical-align: middle; */
                                 color: white;
                                 /* margin-top: 10px; */
                                 margin-bottom: 60px;
                                 /* font: inherit; */
                                 font-size: 26px;
                                 font-weight: 600;
                                 font-family: oblique;
                                 background: #424242;
                             }
                             
                             .article {
                                 width: 480px;
                                 padding: 36px;
                                 margin-right: auto;
                                 margin-left: auto;
                                 margin-bottom: 36px;
                                 border-radius: 4px;
                                 box-shadow: 0 0 3px 3px rgba(0, 0, 0, 0.1);
                             }
                             
                             .article-title {
                                 display: inline-block;
                                 margin-top: 26px;
                                 /* margin-bottom: 10px; */
                                 /* width: 150px; */
                                 text-align: left;
                                 color: rgb(6, 45, 117);
                                 /* margin-top: 10px; */
                                 /* font: inherit; */
                                 font-size: 30px;
                                 font-weight: 600;
                                 font-family: oblique;
                                 /* background: black; */
                             }
                             
                             .article-title:first-child {
                                 margin-top: 0;
                             }
                             
                             .article-title-img {
                                 /* outline: 1px solid red; */
                                 display: inline-block;
                                 margin-top: 12px;
                                 margin-bottom: 16px;
                                 /* width: 150px; */
                                 /* text-align: left; */
                                 color: rgb(6, 45, 117);
                                 /* margin-top: 10px; */
                                 /* font: inherit; */
                                 font-size: 18px;
                                 font-weight: 600;
                                 /* font-family: oblique; */
                             }
                             
                             img {
                                 width: 100%;
                                 margin-top: 26px;
                                 margin-bottom: 26px;
                             }
                             
                             ul {
                                 /* border: 1px solid rgb(175, 37, 37); */
                                 list-style-image: url("image/forward32.png");
                                 /* list-style-position: outside; */
                                 /* display: list-item; */
                             }
                             
                             .list {
                                 /* border: 1px solid rgb(233, 229, 14); */
                                 /* display: block; */
                                 /* outline: 1px solid rgb(2, 0, 90); */
                                 width: 240px;
                                 padding: 24px;
                                 margin-right: auto;
                                 margin-left: auto;
                                 /* margin-bottom: 36px; */
                                 border-radius: 4px;
                                 box-shadow: 0 0 3px 3px rgba(0, 0, 0, 0.1)
                             }
                             
                             .list-item {
                                 /* list-style: none; */
                                 border: 1px solid rgb(18, 236, 29)
                             }