:root {
    --logo: #fed136;
    --title: #000000;
    --text: #777777;
    --bcg: #fff;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Pathway Gothic One', sans-serif;
    font-size: 1.2rem;
    line-height: 1.5;
    text-decoration: none;
    outline: 1px solid red;
    border: 0;
}

html {
    font-size: 10px;
}

body {
    background-repeat: no-repeat;
    background-size: cover;
}

.wrapper {
    display: flex;
    justify-content: center;
}

.wraper--header,
.wraper--promo {
    background-color: #fff;
}

.container {
    width: 94rem;
}

.wraper--form {
    background-repeat: no-repeat;
    background-size: cover;
}