.button-block {
    display: block;
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.button {
    display: block;
    text-align: center;
    padding: 2rem 4.7rem;
    border-radius: 4px;
    background-color: var(--logo);
    font-size: 1.8rem;
    font-weight: 700;
    text-transform: uppercase;
    color: var(--bcg);
    margin: auto;
    cursor: pointer;
}