header {
    display: flex;
    justify-content: space-between;
    padding-top: 2.563rem;
}

.logo {
    display: flex;
    line-height: 2.563rem;
    font-size: 1.625rem;
    font-style: italic;
    font-weight: 700;
    color: var(--logo);
}


/*----------nav---------*/


/* menu */

ul {
    list-style: none;
}

.menu {
    display: flex;
    width: 30.313rem;
    justify-content: space-between;
    align-items: center;
}

.menu-link {
    font-size: 0.875rem;
    line-height: 2.563rem;
    font-weight: 700;
    text-transform: uppercase;
    color: var(--title);
}

.menu-item:hover>.menu-link {
    color: var(--logo);
}