header {
    display: flex;
    justify-content: space-between;
    padding-top: 3.8rem;
}

.logo {
    display: flex;
    line-height: 4.1rem;
    font-size: 2.6rem;
    font-style: italic;
    font-weight: 700;
    color: var(--logo);
}


/*----------nav---------*/


/* menu */

ul {
    list-style: none;
}

.menu {
    display: flex;
    width: 48.5rem;
    justify-content: space-between;
    align-items: center;
}

.menu-item:hover>.menu-link {
    color: var(--logo);
}