   wrapper.promo {
       background-image: url('../../image/bcg-mobile.jpg');
       background-repeat: no-repeat;
       background-size: cover;
       padding-bottom: 13.7rem;
   }
   
   wrapper.partners {
       background-color: var(--bcg);
       padding-top: 6.8rem;
   }
   
   .title-promo {
       text-transform: uppercase;
       margin-top: 3rem;
   }
   
   .block-button--partner {
       padding-bottom: 6rem;
   }
   
   .title-partner-block {
       color: var(--title);
       padding: 0 3rem 1.5rem 3rem;
   }
   
   .title-partner {
       color: var(--title);
       padding-top: 1.95rem;
       padding-bottom: 1.56rem;
   }
   
   .text,
   .title-promo {
       color: var(--text);
   }
   
   .text {
       padding: 1.4rem 4.8rem 2.3rem 4.8rem;
   }
   
   .title,
   p,
   article {
       text-align: center;
   }
   
   .partners-item {
       padding-bottom: 3rem;
   }
   
   .partner {
       display: block;
       width: 100%;
       height: auto;
   }
   
   .partner-img {
       display: block;
       width: 12.8rem;
       height: auto;
       position: relative;
       margin: auto;
       padding: 0.4rem;
   }