@media (min-width: 768px) {
    section.promo {
        background-image: url('../image/bcg-tablet.jpg');
        padding-bottom: 23.4rem;
    }
    header {
        padding-top: 4rem;
    }
    .title-promo {
        font-size: 5.2rem;
    }
    .text {
        font-size: 2.4rem;
    }
    .partners-item {
        padding-top: 2rem;
        padding-bottom: 4rem;
    }
}

@media (min-width: 1200px) {
    section.promo {
        background-image: url('../image/bcg-desktop.jpg');
    }
}