$white: #fff;
$light-grey: #f1f2f2;
$orange: #ff6c00;
$button: #d1d3d4;
$numbers__item: #a7a9ac;
$box-shadow: 1px 1px 1px 1px #8c8e90,
-2px -2px 2px #fff;
$result__img: #e89f6a;
$result__before: #414042;
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto';
    font-weight: 300;
    font-size: 1.2rem;
    line-height: 1.2;
    text-decoration: none;
    border: 0;
}

html {
    font-size: 10px;
}

.container {
    min-width: 320px;
    height: auto;
    background-color: $light-grey;
    margin: auto;
}

.button:link,
.button:visited,
.button:active,
.button:hover,
.button:focus {
    outline: 0;
}