// $white: #fff;
// $box-shadow: 1px 1px 1px 1px #8c8e90,
// -2px -2px 2px #fff;
.btn {
    display: flex;
    justify-content: center;
    align-content: center;
    font-family: 'Ubuntu' sans-serif;
    font-weight: 500;
    color: $white;
    box-shadow: $box-shadow;
    cursor: pointer;
}