.content {
    background-color: $light-grey;
    margin: auto;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 3.2rem;
}

//  верстка хедера
.make__up--title {
    text-align: center;
    font-family: Roboto, sans-serif;
    font-weight: 500;
    font-size: 2rem;
    padding-bottom: 2.7rem;
}

// блок карт
.card__block {
    display: flex;
    justify-content: space-between;
}

.card__player {
    display: block;
    width: 22.5%;
    height: auto;
    box-shadow: $box-shadow;
}

.card__img {
    display: block;
    width: 100%;
    height: auto;
}

figcaption {
    text-align: center;
    font-family: Ubuntu, sans-serif;
    font-weight: 500;
    font-size: 1rem;
    padding-top: 0.2rem;
}

// section button
section.button {
    padding-top: 3.6rem;
}

.button__block {
    display: flex;
    flex-flow: column wrap;
    width: 100%;
    height: 7.7rem;
    justify-content: space-between;
    align-content: space-between;
}

.button__card {
    width: 46.8%;
    height: 3rem;
    background-color: $button;
    font-size: 1.1rem;
    border-radius: 6px 3px;
    &:hover {
        background-color: $orange;
    }
}

.st1 {
    fill: $white;
}

.button__icon {
    margin-right: 1rem;
    width: 1.1rem;
    height: 1.1rem;
}

// карточки с номерами 
.numbers__block {
    display: flex;
    width: 100%;
    height: 20.7rem;
    flex-flow: row wrap;
    justify-content: space-around;
    align-content: center;
}

.numbers__item {
    width: 19.4444%;
    height: 8rem;
    border: 0.8rem solid $light-grey;
    border-radius: 12px;
    background-color: $white;
    font-family: Roboto, sans-serif;
    font-weight: 500;
    font-size: 2.3rem;
    text-align: center;
    line-height: 6.4rem;
    vertical-align: middle;
    color: $numbers__item;
    cursor: pointer;
    &:hover {
        transition: all 0.5s ease-out;
        background-color: $orange;
        color: $white;
    }
}

// результаты 
.result__block {
    width: 100%;
    height: auto;
}

.result__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 1.5rem;
    width: 100%;
    height: 4rem;
    background-color: $white;
    margin-bottom: 0.7rem;
    box-shadow: $box-shadow;
    cursor: pointer;
    &::before {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 3.2rem;
        height: 4rem;
        font-family: Roboto, sans-serif;
        font-weight: 300;
        font-size: 1.4rem;
        counter-increment: list-counter;
        content: counter(list-counter);
        color: $result__before;
    }
    &:hover {
        transition: all 0.5s ease-out;
        background-color: $button;
    }
}

.result-counter {
    counter-reset: list-counter;
}

.result__text {
    font-family: Roboto, sans-serif;
    font-weight: 300;
    font-size: 1rem;
}

.result__img {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    width: 2.5rem;
    height: 2.5rem;
    background-color: $result__img;
    border-radius: 30%;
    justify-content: center;
    align-items: center;
    font-family: Roboto, sans-serif;
    font-weight: 400;
    font-size: 1.3rem;
}

.add {
    display: flex;
    justify-content: center;
    padding-top: 0.8rem;
    padding-bottom: 1.6rem;
}

.button__add {
    border-radius: 50%;
    width: 2.5rem;
    height: 2.5rem;
    background-color: $white;
    &--icon {
        width: 0.9rem;
        height: 0.9rem;
    }
    &:hover {
        background-color: $orange;
    }
}

// section end__button
.end__block {
    display: flex;
    width: 100%;
    height: auto;
    justify-content: center;
}

.end__button {
    width: 46.8%;
    height: 3rem;
    background-color: $orange;
    font-size: 1.1rem;
    border-radius: 7px 5px;
    &:hover {
        background-color: $button;
    }
}