@media only screen and (min-width: 320px) {
    .numbers__item--0 {
        display: none;
    }
}

@media only screen and (min-width: 480px) {
    // header
    .header {
        padding-bottom: 3.4rem;
    }
    .menu__nav-logo__img {
        width: 8.1rem;
    }
    .profile {
        width: 5.558%;
    } // main
    .content {
        padding-bottom: 4.8rem;
    } // секция карт
    .card__block {
        display: none;
    } //  верстка хедера
    .make__up--title {
        font-size: 3rem;
        padding-bottom: 21.4rem;
    } // section button
    section.button {
        padding-top: 3.6rem;
    } // section button
    .button__block {
        height: 11.1rem;
    }
    .button__card {
        height: 4.6rem;
        font-size: 1.7rem;
        &-previous {
            order: 2;
        }
        &-next {
            order: 1;
        }
    }
    .button__icon {
        margin-right: 1.2rem;
        width: 1.7rem;
        height: 1.7rem;
    } // карточки с номерами 
    .numbers__block {
        margin-top: 4.8rem;
        margin-bottom: 4.8rem;
        height: 22.4rem;
        justify-content: space-between;
        align-content: space-between;
    }
    .numbers__item {
        width: 6.4rem;
        height: 10.4rem;
        border: 0;
        margin-right: 2.8rem;
        border-radius: 4px;
        font-size: 3.7rem;
        line-height: 10.4rem;
        &:nth-child(5n) {
            margin-right: 0;
        }
    } // результаты 
    .result__item {
        padding-right: 2.4rem;
        height: 5.8rem;
        margin-bottom: 1.6rem;
        &::before {
            width: 5rem;
            height: 5.8rem;
            font-size: 2.1rem;
        }
    }
    .result__text {
        font-size: 1.5rem;
    }
    .result__img {
        width: 4.1rem;
        height: 4.1rem;
        font-size: 2rem;
    }
    .add {
        display: flex;
        justify-content: center;
        padding-top: 2.4rem;
        padding-bottom: 3.2rem;
    }
    .button__add {
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        width: 3.2rem;
        height: 3.2rem;
        background-color: $white;
        box-shadow: $box-shadow;
        &--icon {
            width: 1.2rem;
            height: 1.2rem;
        }
    } // section end__button
    .end__button {
        height: 4.8rem;
        font-size: 1.7rem;
    }
}

@media only screen and (min-width: 768px) {
    // header
    .header {
        padding-top: 2.4rem;
        padding-left: 3.2rem;
        padding-right: 3.2rem;
        padding-bottom: 4rem;
        position: relative;
        align-items: flex-start;
    }
    .menu {
        width: 36rem;
    }
    .menu__nav {
        justify-content: space-between;
        &-logo__img {
            width: 13.2rem;
            height: auto;
        }
        &-link {
            display: flex;
        }
    }
    .profile {
        display: flex;
        flex-flow: column;
        justify-content: space-between;
        align-items: flex-end;
        width: 5.4rem;
        height: 4.6rem;
        position: absolute;
        top: 1.5rem;
        right: 3.2rem;
        &__img {
            width: 2.6rem;
            height: 2.6rem;
        }
        &__link {
            display: block;
        }
    } // main
    .content {
        display: flex;
        flex-flow: row wrap;
        padding-left: 4.8rem;
        padding-right: 3.2rem;
        padding-bottom: 5.6rem;
    } // секция карт
    .cards {
        display: flex;
        flex-flow: column;
        padding: 0 1.6rem 0 1.6rem;
        height: auto;
        order: -1;
    } //  верстка хедера
    .make__up--title {
        text-align: left;
        font-family: Ubuntu, sans-serif;
        font-weight: 500;
        font-size: 1.6rem;
        color: $orange;
        padding-bottom: 5.2rem;
    } // блок карт
    .card__block {
        display: flex;
        width: 38.4rem;
    }
    .card__player {
        width: 23.0769%;
    } // section button
    section.button {
        width: 68.8rem;
        padding-top: 4.6rem;
    }
    .button__block {
        display: flex;
        flex-flow: row;
        width: 100%;
        height: auto;
        justify-content: space-between;
        padding: 0 1.6rem 0 0;
    }
    .button__card {
        width: 15.8rem;
        height: 3.8rem;
        font-size: 1.3rem;
        &-previous {
            order: 0;
        }
        &-next {
            order: 0;
        }
    }
    .button__icon {
        margin-right: 1rem;
        width: 1.3rem;
        height: 1.3rem;
    } // карточки с номерами 
    section.numbers {
        width: 68.8rem;
    }
    .numbers__block {
        height: auto;
        margin-top: 10.6rem;
        margin-bottom: 7.4rem;
        padding: 0 0.8rem 0 0;
        justify-content: space-between;
    }
    .numbers__item--0 {
        display: flex;
        justify-content: center;
    }
    .numbers__item {
        width: 4rem;
        height: 6.4rem;
        border: 0;
        background-color: $button;
        margin-right: 0;
        font-size: 2.3rem;
        line-height: 6.4rem;
        color: $white;
        transition: all 0.3s ease-out;
        &:hover {
            transform: translateY(-50%);
        }
    } // результаты 
    section.result {
        display: flex;
        margin-right: 1.6rem;
        order: -2;
        box-shadow: $box-shadow;
    }
    .result__block {
        width: 25.6rem;
        height: 24.8rem;
        padding: 0.8rem;
        background-color: $white;
    }
    .result__items {
        height: 18.8rem;
        overflow-y: scroll;
    }
    .result__item {
        background-color: $light-grey;
        padding-right: 0.8rem;
        height: 4rem;
        margin-bottom: 0.8rem;
        &::before {
            width: 3.2rem;
            height: 4rem;
            font-size: 1.4rem;
        }
    }
    .result__text {
        font-size: 1rem;
    }
    .result__img {
        width: 2.5rem;
        height: 2.5rem;
        font-size: 1.3rem;
    }
    .add {
        display: flex;
        justify-content: center;
        padding-top: 1.5rem;
        padding-bottom: 0.7rem;
    }
    .button__add {
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        width: 2.6rem;
        height: 2.6rem;
        background-color: $white;
        box-shadow: $box-shadow;
        &--icon {
            width: 0.9rem;
            height: 0.9rem;
        }
    } // section end__button
    section.end {
        display: flex;
        width: 68.8rem;
        padding: 0 1.6rem 0 0;
    }
    .end__button {
        width: 15.8rem;
        height: 3.8rem;
        font-size: 1.3rem;
    }
}

@media only screen and (min-width: 960px) {
    // header
    .header {
        padding-top: 2.4rem;
        padding-left: 4.8rem;
        padding-right: 4.8rem;
        position: relative;
        align-items: flex-start;
    }
    .profile {
        height: 5rem;
        right: 4.8rem;
        &__img {
            width: 3.4rem;
            height: 3.4rem;
        }
    } // main
    .content {
        justify-content: center;
        padding-left: 10.4rem;
        padding-right: 9.8rem;
    } // секция карт
    .cards {
        padding: 0 0.6rem 0 1.6rem;
    } //  верстка хедера
    .make__up--title {
        padding-bottom: 5.8rem;
    } // блок карт
    .card__block {
        //         display: flex;
        width: 46.4rem;
    }
    .card__player {
        width: 9.6rem;
    } // section button
    section.button {
        width: 76rem;
    }
    .button__block {
        padding: 0;
    }
    .button__card {
        height: 4rem;
    } // карточки с номерами 
    section.numbers {
        width: 68rem;
    }
    .numbers__block {
        padding: 0;
    } // результаты 
    section.result {
        margin-right: 1.6rem;
    }
    .result__block {
        padding: 0.8rem;
    }
}

@media only screen and (min-width: 1200px) {
    // header
    .header {
        padding-left: 6.4rem;
        padding-right: 6.4rem;
    }
    .profile {
        right: 6.4rem;
    } // main
    .content {
        justify-content: flex-end;
        padding-left: 6.4rem;
        padding-right: 10.4rem;
    } // секция карт
    .cards {
        width: 68.6rem;
        padding: 0;
    } //  верстка хедера
    .make__up--title {
        padding-left: 0.8rem;
    } // блок карт
    .card__block {
        align-self: center;
        width: 44.8rem;
    } // section button
    section.button {
        width: 68.6rem;
    }
    .numbers__block {
        align-self: flex-end;
        padding: 0;
    } // результаты 
    section.result {
        margin-right: 2.4rem;
    }
    .result__block {
        width: 32rem;
        padding: 0.8rem;
    }
    section.end {
        width: 68rem;
    }
}

@media only screen and (min-width: 1440px) {
    // main
    .content {
        justify-content: flex-end;
        padding-left: 20rem;
        padding-right: 20.8rem;
    }
}